In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import neighbors, metrics
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [6]:
data = pd.read_csv("DataSets/cars.csv")

In [7]:
data

      vhigh vhigh.1      2   2.1  small   low  unacc
0     vhigh   vhigh      2     2  small   med  unacc
1     vhigh   vhigh      2     2  small  high  unacc
2     vhigh   vhigh      2     2    med   low  unacc
3     vhigh   vhigh      2     2    med   med  unacc
4     vhigh   vhigh      2     2    med  high  unacc
...     ...     ...    ...   ...    ...   ...    ...
1722    low     low  5more  more    med   med   good
1723    low     low  5more  more    med  high  vgood
1724    low     low  5more  more    big   low  unacc
1725    low     low  5more  more    big   med   good
1726    low     low  5more  more    big  high  vgood

[1727 rows x 7 columns]

In [8]:
data.shape

(1727, 7)

In [9]:
data.describe()

       vhigh vhigh.1     2   2.1 small   low  unacc
count   1727    1727  1727  1727  1727  1727   1727
unique     4       4     4     3     3     3      4
top     high    high     3     4   med   med  unacc
freq     432     432   432   576   576   576   1209

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1727 entries, 0 to 1726
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   vhigh    1727 non-null   object
 1   vhigh.1  1727 non-null   object
 2   2        1727 non-null   object
 3   2.1      1727 non-null   object
 4   small    1727 non-null   object
 5   low      1727 non-null   object
 6   unacc    1727 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [18]:
data.notna().value_counts()

vhigh  vhigh.1  2     2.1   small  low   unacc
True   True     True  True  True   True  True     1727
dtype: int64

In [20]:
data.columns

Index(['vhigh', 'vhigh.1', '2', '2.1', 'small', 'low', 'unacc'], dtype='object')

In [29]:
data.columns = [
    'buying',
    'maintainance',
    'doors',
    'persons',
    'lug_boot',
    'safety',
    'classes'
]

In [30]:
data

     buying maintainance  doors persons lug_boot safety classes
0     vhigh        vhigh      2       2    small    med   unacc
1     vhigh        vhigh      2       2    small   high   unacc
2     vhigh        vhigh      2       2      med    low   unacc
3     vhigh        vhigh      2       2      med    med   unacc
4     vhigh        vhigh      2       2      med   high   unacc
...     ...          ...    ...     ...      ...    ...     ...
1722    low          low  5more    more      med    med    good
1723    low          low  5more    more      med   high   vgood
1724    low          low  5more    more      big    low   unacc
1725    low          low  5more    more      big    med    good
1726    low          low  5more    more      big   high   vgood

[1727 rows x 7 columns]

In [64]:
x = data[[
    'buying',
    'maintainance',
    'safety'
]].values

y = data[[
    'classes'
]]

In [65]:
x

array([['vhigh', 'vhigh', 'med'],
       ['vhigh', 'vhigh', 'high'],
       ['vhigh', 'vhigh', 'low'],
       ...,
       ['low', 'low', 'low'],
       ['low', 'low', 'med'],
       ['low', 'low', 'high']], dtype=object)

In [66]:
y

     classes
0      unacc
1      unacc
2      unacc
3      unacc
4      unacc
...      ...
1722    good
1723   vgood
1724   unacc
1725    good
1726   vgood

[1727 rows x 1 columns]

In [67]:
le = LabelEncoder()
for i in range(len(x[0])):
    x[:,i] = le.fit_transform(x[:,i])

In [68]:
y.value_counts()

classes
unacc      1209
acc         384
good         69
vgood        65
dtype: int64

In [69]:
labels_maping = {
    'unacc':0,
    'acc':1,
    'good':2,
    'vgood':3,
}

In [76]:
y['classes'] = y['classes'].map(labels_maping)

C:\Users\hashi\AppData\Local\Temp\ipykernel_10432\947620297.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y['classes'] = y['classes'].map(labels_maping)

In [77]:
y

      classes
0           0
1           0
2           0
3           0
4           0
...       ...
1722        2
1723        3
1724        0
1725        2
1726        3

[1727 rows x 1 columns]

In [87]:
xtrain , xtest, ytrain , ytest = train_test_split(x, y, test_size=0.2)

In [88]:
print(xtrain)
print(xtest)
print(ytrain)
print(ytest)

[[1 2 2]
 [0 2 2]
 [1 2 0]
 ...
 [1 2 1]
 [0 2 2]
 [2 1 2]]
[[1 2 1]
 [0 2 1]
 [0 0 0]
 ...
 [2 0 2]
 [3 3 1]
 [1 0 1]]
      classes
1530        0
705         0
1576        2
18          0
267         1
...       ...
168         0
154         0
1538        0
741         1
1203        2

[1381 rows x 1 columns]
      classes
1571        0
740         0
595         0
780         1
659         0
...       ...
487         0
856         1
1041        1
38          0
1448        0

[346 rows x 1 columns]

In [89]:
print(xtrain.shape)
print(xtest.shape)
print(ytrain.shape)
print(ytest.shape)

(1381, 3)
(346, 3)
(1381, 1)
(346, 1)

In [90]:
xtrain = np.array(xtrain)
ytrain = np.array(ytrain)
xtest = np.array(xtest)
ytest  = np.array(ytest)

In [91]:
xtrain

array([[1, 2, 2],
       [0, 2, 2],
       [1, 2, 0],
       ...,
       [1, 2, 1],
       [0, 2, 2],
       [2, 1, 2]], dtype=object)

In [92]:
knn = neighbors.KNeighborsClassifier(n_neighbors=25, weights='uniform')

In [93]:
knn.fit(xtrain, ytrain)

C:\Users\hashi\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:215: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=25)

In [94]:
prediction = knn.predict(xtest)

In [98]:
print(prediction)

[0 0 1 0 0 2 0 0 0 1 0 1 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 1 0 0 0 0 0 0 0
 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0
 0 0 0 0 0 0 0 0 0 2 0 0 1 0 0 0 1 0 0 0 0 1 1 0 0 0 1 0 0 0 0 0 0 1 0 0 0
 0 0 0 0 0 0 0 1 0 1 0 2 1 0 0 0 1 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0
 1 0 0 0 0 0 1 0 0 1 1 0 0 0 0 0 0 1 0 0 0 0 1 0 0 1 1 1 0 1 0 0 0 0 0 2 2
 1 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 0 1 0 0 0 0 0 0 0 1 2 0 1 0 0 0 0 0 0 1
 1 0 0 0 0 0 0 1 1 0 0 0 1 0 0 0 1 0 0 0 0 0 0 2 1 0 0 0 0 1 0 0 1 0 0 0 2
 1 0 1 0 0 1 0 0 0 0 1 1 1 1 0 0 0 0 0 0 0 1 0 1 0 0 2 1 0 1 0 1 0 0 0 0 0
 0 0 0 0 1 1 0 0 1 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 1 1 0
 0 0 0 0 0 1 0 0 0 1 0 0 0]

In [99]:
accuracy = metrics.accuracy_score(ytest, prediction)
print(accuracy)

0.7196531791907514

In [104]:
y = np.array(y)
x = np.array(x)
print(y[100])

[0]

In [106]:
print(f'actual value: {y[89]}')
print(f'predicted value : {knn.predict(x)[89]}')

actual value: [0]
predicted value : 0